@model PersonalInfoVModel

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewData["Title"] = "Edit";
}


<div class ="card-body offset-md-2 col-md-8 ">
    <form role="form" asp-action="Update" method="post" enctype="multipart/form-data">

        <label>التعديل</label>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">

            <input class="form-control" type="hidden" readonly asp-for="Id" placeholder="ID" name="Id" value="@Model.Id" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>

        <div class="mb-3" >

        <input class="form-control" type="text" asp-for="Name" placeholder="Name" name="name" value="@Model.Name" />
    <span asp-validation-for="Name" class="text-danger" ></span>
        </div>


        <div class="mb-3">

            <input class="form-control" type="text" asp-for="Bio" placeholder="Bio" name="Bio" value="@Model.Bio" />
            <span asp-validation-for="Bio" class="text-danger"></span>
        </div>

        <div class="mb-3">

            <input class="form-control" type="text" asp-for="Email" placeholder="Email" name="email" value="@Model.Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">

            <input class="form-control" type="text" asp-for="Phone" placeholder="Phone" name="phone" value="@Model.Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="mb-3">

            <input class="form-control" type="text" asp-for="Address" placeholder="Address" name="Address" value="@Model.Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="mb-3">

            <input class="form-control" type="text" asp-for="About" placeholder="About" name="about" value="@Model.About" />
            <span asp-validation-for="About" class="text-danger"></span>
        </div>
    <div class="mb-3">
            <label>الصورة</label>
             <input type="hidden" asp-for="ImageUrl" />
            <input class="form-control" type="file" asp-for="file" placeholder="ImageUrl" name="file" />
            <span asp-validation-for="file" class="text-danger"></span>
            <img src="~/FilesStorage/@Model.ImageUrl" alt="Alternate Text" />

    </div>


        <div class="text-center"> 
            
            <button type="submit" name="Edit" class="btn bg-gradient-info w-100 mt-4 mb-0"> تعديل </button>


        </div>

    </form>

</div>   

